@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/Satoshi-Regular.woff') format('woff');
    }

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: #F1FAEE;
    color: #1D3557;
}

.glassy-nav {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
  }

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

input:focus, textarea:focus {
    outline: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}